.order-history-page .order-box-container {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.order-history-page .order-box-container .blog-box {
  width: 225px;
  margin-right: 16px;
  margin-left: 16px;
}

.blog-box,
.card-main {
  width: 30% !important;
  display: flex;
  justify-content: space-between;
}

.order-history-page .order-box-container .card-main {
  box-shadow: none;
  margin-bottom: 25px;
  border-radius: 12px;
}

.order-history-page .order-box-container .card-main .service-main-image {
  height: 100% !important;
}

.order-history-page
  .order-box-container
  .card-main
  .service-main-image
  .Featured-label-box {
  padding: 12px;
}

.order-history-page
  .order-box-container
  .card-main
  .service-main-image
  .Featured-label-box
  .Featured-label {
  width: fit-content;
  /* background-color: #0000009e; */
  color: #ffffff;
  padding: 3px 10px;
  font-size: 11px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 1s;
}

.order-history-page
  .order-box-container
  .card-main
  .service-main-image
  .Featured-label-box
  .Featured-label:hover {
  background-color: #004d79;
}

.order-history-page .order-box-container .card-main .card-Content-service {
  background-color: #ffffff;
  /* padding-top: 5px; */
  padding-bottom: 16px;
  cursor: pointer;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box {
  display: block;
  text-align: left;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  .blog-date-section {
  /* margin-bottom: 13px; */
  color: #b56d2a;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  .calender-icon {
  color: #687693;
  margin-right: 10px;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  .name {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  transition: all 1s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cal {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #00000060 !important;
  transition: all 1s !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  display: flex !important;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  .name:hover {
  color: #004d79;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  span {
  font-size: 14px;
  font-weight: 300;
  color: #687693;
  letter-spacing: 0.27px;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  .price {
  font-size: 24px;
  font-weight: 500 !important;
  color: #004d79;
}

.order-history-page
  .order-box-container
  .card-main
  .card-Content-service
  .description-box
  .shortDescription {
  max-height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.order-history-page
  .order-box-container
  .blog-pagination
  .MuiPagination-ul
  .Mui-selected {
  background-color: #004d79 !important;
  color: #ffffff;
}

.order-history-page
  .order-box-container
  .blog-pagination
  .MuiPagination-ul
  .MuiPaginationItem-outlined {
  width: 45px;
  height: 45px;
  font-size: 16px;
  background-color: #edf4f7;
  border: none;
  font-weight: 600;
  border-radius: 50%;
  transition: all 1s;
  margin: 0 10px;
}

.order-history-page
  .order-box-container
  .blog-pagination
  .MuiPagination-ul
  .MuiPaginationItem-outlined:hover {
  background-color: #004d79 !important;
  color: #ffffff;
}

.status-button {
  width: 93px;
  color: #000000;
  border-radius: 8px;
  padding: 3px;
  /* padding-bottom: 7px; */
  margin-left: 10px !important;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.count-cart {
  background-color: #ffffff;
  color: #000000;
}

.add-button,
.count-cart,
.remove-button {
  width: 33%;
  padding: 2px;
  font-size: 14px !important;
}

.add-button,
.status,
.remove-button {
  font-size: 14px !important;
}

.status {
  width: 100%;
  padding: 2px;
}
@media (max-width: 1200px) {
  .order-history-page .order-box-container .blog-box {
    width: 31% !important;
    margin-right: 10px;
    margin-left: 10px;
  }
  .order-history-page .order-box-container {
    border-radius: 40px 0px 0% 0%;
  }
  .order-history-page .order-box-container .card-main .service-main-image {
    height: 100% !important;
    width: 100px !important;
  }
  .order-history-page .order-box-container .card-main .card-Content-service {
    padding: 13px !important;
  }
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .name {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
  }
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .cal {
    font-size: 10px !important;
    line-height: 1;
    margin-top: 5px;
  }
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .blog-date-section,
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .blog-date-section
    span {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .time-icon {
    height: 15px !important;
    width: 15px !important;
  }
  .status {
    font-size: 12px !important;
    padding: 1px;
    line-height: 1 !important;
  }
  .PB-button {
    margin-top: 7px !important;
  }
  .add-button,
  .count-cart,
  .remove-button {
    line-height: 1 !important;
  }
  .status-button {
    width: 76px;
  }
}

@media (max-width: 950px) {
  .order-history-page .order-box-container .blog-box {
    width: 45% !important;
    margin-right: 10px;
    margin-left: 10px;
  }
  .order-history-page .order-box-container {
    padding: 15px !important;
  }
  .categories {
    gap: 5px !important;
  }
  .category {
    padding: 4px 6px !important;
  }
}

@media (max-width: 600px) {
  .order-history-page .order-box-container .blog-box {
    width: 90% !important;
    margin-right: 10px;
    margin-left: 10px;
  }
  .order-history-page .order-box-container {
    padding: 15px;
    border-radius: 40px 0px 0% 0%;
  }
  .order-history-page .order-box-container .card-main .service-main-image {
    height: 100% !important;
  }
  .order-history-page .order-box-container .card-main .card-Content-service {
    padding: 10px !important;
  }
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .name {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
  }
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .cal {
    font-size: 10px !important;
    line-height: 1;
    margin-top: 5px;
  }
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .blog-date-section,
  .order-history-page
    .order-box-container
    .card-main
    .card-Content-service
    .description-box
    .blog-date-section
    span {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .time-icon {
    height: 15px !important;
    width: 15px !important;
  }
  .status {
    font-size: 12px !important;
    padding: 1px;
    line-height: 1 !important;
  }
  .PB-button {
    margin-top: 7px !important;
  }
  .add-button,
  .count-cart,
  .remove-button {
    line-height: 1 !important;
  }
  .status-button {
    width: 76px;
  }
}

@media (max-width: 430px) {
  .order-history-page .order-box-container .blog-box {
    width: 43%;
  }
}

@media (max-width: 380px) {
  .order-history-page .order-box-container .card-main .service-main-image {
    width: 90px;
  }
}
