.checkout-dialog .MuiDialog-paperScrollPaper {
  background-color: #e9dabd;
  padding: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.checkout-drawer .MuiDrawer-paper {
  height: auto !important;
  padding: 20px;
}

.order-placed .MuiDialog-paperScrollPaper,
.order-placed .MuiDrawer-paper {
  padding: 0px !important;
}

.main-title {
  font-family: "Kanit", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 18px !important;
  margin-bottom: 12px !important;
  border-bottom: 1px solid #9f8e7c87;
  padding-bottom: 5px;
}

.total-line {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.total {
  font-family: "Kanit", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 16px !important;
}

.total-price {
  font-family: "Kanit", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
  font-size: 24px !important;
}

.confirm-button {
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px !important;
  cursor: pointer;
}

.vehical-no {
  width: 100%;
  margin-bottom: 15px !important;
}
